body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container{
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: rgb(133, 201, 127); */
}
.header{
    border: 1px solid black;
    height: 60px;
    text-align: center;
    line-height: 30px;

}
.main{
    display: flex;
    justify-content: space-between;
    height: auto;
    
}
.main .left{
    text-align: center;
    border: 1px solid black;
    width: 50%;            
    margin-top:5px;
    margin-bottom: 5px;
    
}

#encabezado-left{
    color: rgb(51, 17, 152);
}
.main .right{
    text-align: center;
    border: 1px solid rgb(3, 19, 5);
    width: 50%;      
    margin-top:5px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    border: 1px solid blue;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: Arial, sans-serif;
    color: rgb(61, 5, 92);
    background-color: rgb(19, 221, 232);
}
.footer .left{
    width: 50%;
    border: 1px solid blue;
    height: 100%;
}
img{
    width: 95%; 
}
#encabezado-pagina{
    color: rgb(140, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#DEMO2.png{
    width: 5%;
}